.Active-Tag{
    color: brown !important;
}
span.color.color-1 {
    background:#6c3f19  !important
  }
  span.color.color-2 {
    background:#3C2218 !important
  }
  span.color.color-3 {
    background:#FFFFFF !important
  }
  span.color.color-4 {
    background:#000000 !important
  }
  span.color.color-5 {
    background:#964B00 !important
  }
  span.color.color-6 {
    background:#808080 !important
  }
  span.color.color-7 {
    background:#008080 !important
  }
  span.color.color-8 {
    background:#ffdb58 !important
  }
  span.color.color-9 {
    background:#F4FAFC  !important
  }
  span.color.color-10 {
    background:#DBE2E9 !important
  }