/* Default styles for the image */
.discount-product-area .swiper-slide img {
    max-height: 500px; /* Default size for screens larger than 1199px */
    height: 100%;
}

/* Adjust the image size for screens larger than 991px */
@media (max-width: 1199px) {
    .discount-product-area .swiper-slide img {
        max-height: 400px;
    }
}

/* Adjust the image size for screens larger than 767px */
@media (max-width: 991px) {
    .discount-product-area .swiper-slide img {
        max-height: 297px;
    }
}

/* Adjust the image size for screens larger than 480px */
@media (max-width: 767px) {
    .discount-product-area .swiper-slide img {
        max-height: 182px;
    }
}

/* Adjust the image size for screens less than 480px */
@media (max-width: 480px) {
    .discount-product-area .swiper-slide img {
        max-height: 117px;
        
    }
}
/*Custom p*/
.custom {
    color:white
}